/*important flag indicates that tailwind styles are more important than other, e.g. angular materials style*/
@import "tailwindcss" important;

.container {
    @apply p-6 m-auto
}

.text-primary {
    @apply text-blue-700
}