<section>
    @if (cartService.cart()?.items?.length! > 0) {
        <div class="flex gap-6 mt-8">
            <div class="flex w-3/4 items-start">
                <div class="w-full">
                    @for (item of cartService.cart()?.items; track item.productId) {
                        <app-cart-item [item]="item"></app-cart-item>
                    }
                </div>                
            </div>    
            <div class="w-1/4">
                <app-order-summary></app-order-summary>
            </div>    
        </div>
    }
    @else {
        <app-empty-state/>
    }
    
</section>
